# Slack API token
SLACK_API_TOKEN=mytoken

# Comma-separated list of Slack user IDs
# Only admins are allowed to deploy to production
SLACK_ADMIN_IDS=

# Comma-separated list of Slack channel IDs
# Only commands from this channel are allowed to deploy
SLACK_CHANNEL_IDS=
