# Configuration file for Model Five

# Lock lifetime in seconds
lock_lifetime: 1800

# Deployment environments
environments:
  dev:
    # SSH hostname
    host: dev.myhost.com
    # SSH username
    user: myuser
    # Absolute path to SSH keyfile
    key: /path/to/mykey.pem
    # Path to deployed application
    path: /opt/myapp
    # Slack user IDs allowed to deploy to this environment
    allowed_users:
      - XXXXXXXXX

  qas:
    # SSH hostname
    host: qas.myhost.com
    # SSH username
    user: myuser
    # Absolute path to SSH keyfile
    key: /path/to/mykey.pem
    # Path to deployed application
    path: /opt/myapp
    # Slack user IDs allowed to deploy to this environment
    allowed_users:
      - XXXXXXXXX

  prod:
    # SSH hostname
    host: myhost.com
    # SSH username
    user: myuser
    # Absolute path to SSH keyfile
    key: /path/to/mykey.pem
    # Path to deployed application
    path: /opt/myapp
    # Slack user IDs allowed to deploy to this environment
    allowed_users:
      - XXXXXXXXX
